.form {
    background-color: rgba(131, 193, 212, 0.829);
    padding: 3em;
    width: 30%;
    height: 40%;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
 
.Loginbody{
    background-image: url(../images/iceland.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
 
input {
    margin: 7px;
    align-items: center;
    border-radius: 10px;
}
 
input:focus {
    outline-color: rgb(32, 177, 255);
}
 
button {
    width: 100%;
    height: 2em;
    background-color: rgb(32, 177, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    margin-top: 1em;
}
 
.group {
    display: inline-block;
    text-align: right;
}
 
label {
    margin-right: 10px;
    display: inline-block;
}
 
@media only screen and (min-device-width: 37em) {
    .Loginbody {
        font-size: 1em;
    }
 
    .form {
        width: 30%;
        height: 40%;
    }
}
 
@media only screen and (min-device-width: 64em) {
    .Loginbody {
        font-size: 1.25em;
    }
 
    .form {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
}
 
@media only screen and (min-device-width: 37em) {
    .Loginbody {
        font-size: 1em;
    }
}
 
@media only screen and (min-device-width: 64em) {
    .Loginbody {
        font-size: 1.25em;
    }
}